@font-face {
    font-family: 'Open Sans Light';
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Light-webfont.woff') format('woff'), url('fonts/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Open Sans';
    src: url('/media/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/media/fonts/OpenSans-Regular-webfont.woff') format('woff'), url('/media/fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}
#display-time {
    top: 10px;
    right: 10px;
}
#title {
    top: 10px;
    left: 10px;
}
#display-time, #title, #info {
    position: absolute;
    color: black;
    z-index: 100000000000;
    font-size: 26px;
    background-color: white;
    box-shadow: 0px 0px 1px 1px #EEE;
    padding: 5px;
    font-family: "Open Sans Light";
    transition: opacity 0.4s, filter 0.4s;
    cursor: default;
}
#display-time:hover, #title:hover, #info:hover {
    opacity: 0.3;
    filter: blur(6px);
}
#controls {
    position: absolute;
    bottom: 10px;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 100000000000;
    font-size: 20px;
}
#speed:before {
    content: "Steps/hour (60 is realtime): ";
}
.clickable {
    cursor: pointer;
}
#map-selector {
    position: absolute;
    left: 10px;
    bottom: 0px;
}
#map-selector:before {
    content: "Select a map: ";
}
#type-selector {
    position: absolute;
    right: 10px;
    bottom: 0px;
}
.city {
    opacity: 0;
    display: none;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: black;
    transition: opacity 0.4s, filter 0.4s, width 0.4s, height 0.4s, left 0.4s, top 0.4s;
    filter: none;
    opacity: 1;
    z-index: 100000;
}
.city:hover {
    filter: blur(2px);
    opacity: 0.8;
}
.jvectormap-zoomin, .jvectormap-zoomout {
    display: none;
}
#info {
    left: 10px;
    bottom: 50px;
    z-index: 1000000000;
    padding: 10px;
    font-size: 18px;
}
.info-table>*:first-child {
    text-align: right;
    padding-right: 6px;
    color: rgb(105, 105, 105);
}
#info-title {
    font-size: 22px;
    margin-bottom: 2px;
    border-bottom: 1px solid #EEE;
}
.link {
    text-decoration: underline;
    cursor: pointer;
}
#lat-lng-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1100000000;
}
@keyframes latlng {
    from {
        opacity: 0.8;
        filter: blur(2px);
    } 50% {
        opacity: 0.3;
        filter: blur(4px);
    } to {
        filter: blur(2px);
        opacity: 0.8;
    }
}
@-webkit-keyframes latlng {
    from {
        opacity: 0.8;
        -webkit-filter: blur(2px);
    } 50% {
        opacity: 0.3;
        -webkit-filter: blur(4px);
    } to {
        -webkit-filter: blur(2px);
        opacity: 0.8;
    }
}
.latlng {
    background-color: red;
    width: 10px;
    height: 10px;
    position: absolute;
    opacity: 0.5;
    animation-name: latlng;
    animation-iteration-count: infinite;
    -webkit-animation-name: latlng;
    -webkit-animation-iteration-count: infinite;
    border-radius: 50%;
}
.latlng-t5 {
    width: 15px;
    height: 15px;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    /*transform: translate(-7px, -7px);*/
    /*-webkit-transform: translate(-7px, -7px);*/
}
.latlng-t4 {
    width: 11px;
    height: 11px;
    animation-duration: 3.2s;
    -webkit-animation-duration: 3.2s;
    /*transform: translate(6px, 6px);*/
    /*-webkit-transform: translate(6px, 6px);*/
}
.latlng-t3 {
    width: 9px;
    height: 9px;
    animation-duration: 3.8s;
    -webkit-animation-duration: 3.8s;
    /*transform: translate(-4px, -4px);*/
    /*-webkit-transform: translate(-4px, -4px);*/
}
.latlng-t2 {
    width: 6px;
    height: 6px;
    animation-duration: 4.5s;
    -webkit-animation-duration: 4.5s;
    /*transform: translate(-3px, -3px);*/
    /*-webkit-transform: translate(-3px, -3px);*/
}
#main-controls {
    margin-left: 40vw;
    width: 20vw;
    background-color: white;
    box-shadow: 0px 0px 1px 1px #EEE;
}
.toggled-on {
    background-color: black !important;
    color: white !important;
    border-radius: 4px;
}
.toggleable {
    cursor: pointer;
    padding: 2px;
}
.pointer {
    cursor: pointer;
}
.noanimate {
    animation: initial;
}
